* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.section-1 {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 16px;
    display: flex;    
    justify-content: space-around;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header a,
.hero .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.hero {
    padding: 80px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.hero .main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    border: 0px;
    border-radius: 8px;
}

.hero img {
    height: auto;
    width: 260px;
}

.section-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 32px;
}

.section-2 .container {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.section-2 .media-object {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.media-object img {
    /* How to ensure images do not exceed container width but still have responsive sizing?
     * Set max-width: 100%
     * Set height: auto to maintain aspect ratio
     * Set flex: 1/auto to allow image to grow/shrink
      */
    max-width: 100%;
    height: auto;
    flex: 1;
    border: 4px solid #3882F6;
    border-radius: 8px;
}